{% extends 'base.html' %}


{% block title %}
сторіка публікацій
{% endblock %}

{% block body %}


    {% for i in pages.items %}
    <div class="container mt-5">
    <div class="h-100 p-5 bg-light border rounded-3">
        <h1>{{ i.title }}</h1>
        <h4>{{ i.intro }}</h4>
    <a class="btn btn-outline-secondary" href="/posts/{{ i.id }}">Читати статтю</a>
        <p>{{ i.date.date() }}</p>
        </div>
      </div>
    {% endfor %}


<nav class="container mt-5">
    <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {% if not pages.has_prev %}  disabled {% endif %}">

        <a class="page-link" style="color: black" href="./?page={{ pages.prev_num }}"><h5>< Previous </h5></a>
    </li>

    <li class="page-item {% if not pages.has_next %} disabled {% endif %}">
      <a class="page-link" style="color: black" href="./?page={{ pages.next_num }}"> <h5>Next></h5></a>
    </li>
  </ul>
</nav>
</nav>

{% endblock %}