{% extends 'base.html' %}


{% block title %}
profile
{% endblock %}

{% block body %}


<div class="container mt-5">
    <h5>{{ user_profile.id }}</h5>
    <h5>{{ user_profile.email }}</h5>
    <img src="{{ url_for('static', filename='images/' + current_user.avatar)}}" width="200" align="right">
            {% for i in erors %}
             <p style="color:crimson ;">{{ i }}</p>
            {% endfor %}
    <form method="post" enctype=multipart/form-data>
        <input type=file name=file id="file"><br>
        <br>
        <input type="submit" class="btn btn-success" value="Відправити">

    </form>
</div>




{% endblock %}
