{% extends 'base.html' %}


{% block title %}
    Реєстрація
{% endblock %}

{% block body %}


<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
    <div class="text-center">
        <h1 class="h3 mb-3 fw-normal">Приєднуйся <a class="btn btn-success" href="/login">Вхід</a></h1>

        </div>
            {% for i in erors %}
             <h5 style="color:crimson ;">{{ i }}</h5>
            {% endfor %}

    <form method="post">
        <p>
  </p>
        <div class="form-floating">
            <p> Your nickname</p>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="form-floating">
            <p> Your email</p>
            <input type="text" name="email" id="email" class="form-control">
        </div>
        <div class="form-floating">
            <p> Your password</p>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <div class="form-floating">
            <p> Repeat рassword</p>
            <input type="password" name="password2" id="password2" class="form-control">
        </div>
    </form>
        <br>
        <div class="container">
        <input class="btn btn-success" type="submit" value="Зареєструватися">
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>

</div>
    </div>
        </div>


{% endblock %}