{% extends 'base.html' %}


{% block title %}
    Реєстрація
{% endblock %}

{% block body %}


<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
    <div class="text-center">
        <h1 class="h3 mb-3 fw-normal">Приєднуйся <a class="btn btn-success" href="/login">Вхід</a></h1>

            {% for i in erors %}
            <h5 style="color:crimson ;">{{ i }}</h5>
            {% endfor %}
    <form method="post">
        <div class="form-floating">
            <input type="text" name="name" id="name" class="form-control" placeholder="Ведіть нік-нейм">
            <label for="floatingInput">your nickname</label>
        </div>
        <div class="form-floating">
            <input type="text" name="email" id="email" class="form-control" placeholder="Ведіть електронну адресу">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" id="password" class="form-control" placeholder="Пароль">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password2" id="password2" class="form-control" placeholder="Підтвердіть пароль">
            <label for="floatingPassword">Repeat рassword</label>
        </div>
        <br>
        <input class="btn btn-success" type="submit" value="Зареєструватися">
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </div>

    </div>
</div>


{% endblock %}